.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}

.locations,
.amenities {
    display: inline-block;
    height: 100%;
    width: 25%;
    padding: 0 40px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    padding-top: 9%;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    display: none;
    position: absolute;
    top: 100%;
    width: 25%;
    left: 0;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
    padding: 10px 10px;
}

.amenities .popover {
    left: 25%;
}

ul {
    list-style-type: none;
    padding: 2px;
}

ul li {
    padding: 2px 20px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}


button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin: 11px 30px 11px 24.8%;
    position: relative;
    bottom: 9px;
}

button:hover {
    opacity: 90%;
}
